@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white bg-gray-darkest;
}

.btn {
  @apply font-bold py-1 px-2 rounded;
}

.btn-pink {
  @apply bg-pink text-white;
}

.btn-pink:hover {
  @apply bg-pink-dark;
}

.btn-tr {
  @apply bg-transparent hover:bg-pink text-white font-semibold hover:text-white py-1 px-2 border border-pink hover:border-transparent rounded;
}

.link {
  @apply cursor-pointer underline;
}

.link:hover {
  @apply text-pink-light;
}
